/* .btn-primary {
  background-color: #725f63 !important;
  border-color: #725f63 !important;
  color: white !important;
}

.active {
  background-color: #725f63 !important;
  border-color: #725f63 !important;
  color: white !important;
}

ul li a:focus {
  background-color: #725f63 !important;
  border-color: #725f63 !important;
  color: white !important;
}

.page-link {
  background-color: white;
  color: #725f63;
}

.page-link:hover {
  color: #725f63;
}

a {
  color: #725f63;
} */
